## Python Type Conversion and Type Casting

## Exercise 

* What are the things you learned so far on Day 1 of Python Training? 
* What are your expectations for today's python training? 
* Is there anything that you are confused about in our Day 1 Python training covered topics? 

Paste your results on our MsTeams chat

## Welcome to our Day 1!

## Schedule

* 8:30 - 9:00 = Recap 
* 9:00 - 11:00 = Discussion 
* 11:00 - 12:00 noon = Udemy Course 
* 12:00 - 1:30  = Break 
* 1:30 - 3:00 = Continuation of the Discussion 
* 3:00 - 4:00 = Udemy Course 
* 4:00 - 4:30 = Recap 
* 4:45 - 5:00 = Question & Answer Portion

### Implicit type conversion

In [1]:
# Example 1: Converting integer to float

num_int = 123
num_flo = 1.23 #decimals  

num_new = num_int + num_flo #addition 

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [2]:
num_int #integer which we will be converting with

123

In [3]:
num_flo #the float

1.23

## Exercise 1 

Modify the existing code for integer-to-float conversion, but this time include at least three integers and three floats. It's up to you if you want to get their difference, addition, or mixed subtraction and addition, but the goal is to have an output of a float. 

Paste your results to our MSTeams chat

In [8]:
# Example 2: Addition of string(higher) data type and integer(lower) datatype

num_int = 123 #lower 
num_str = "456" #upper

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

# we don't have code for the conversion of string-integer 

print(num_int+num_str)  # ERROR! cannot add two dif

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Explicit Type Conversion

In [9]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

num_int 10
num_float: 10.0

In [4]:
# float to int
gravity = 9.81 #float
print(int(gravity))

9

In [3]:
# float to int 
pi_circle = 3.14 
print(int(pi_circle))

3

## Exercise 2 

Convert the Euler value of 2.72 (float) into an integer value

## Exercise 3 

Convert the diameter of the circle that has a value of 24 (int) into a float value

In [6]:
# Example 3: Addition of string and integer using explicit conversion

num_int = 123
num_str = "456"       # there is a number inside " " so I CAN change it to integer
#num_str = "jason"    # there is a name inside " " so I cannot change to integer

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str)) #string 

num_str = int(num_str) # change from "string" data type to integer datatype
print("Data type of num_str after Type Casting:",type(num_str)) #integer

num_sum = num_int + num_str  # Now we can add two same data types (int and int)

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

## Exercise 4

Modify the existing code for Addition of string and integer using explicit conversion, but this time include at least two strings and two integers. It's up to you if how you will do the code for that but the goal is to have a sum of it.  

Paste your results to our MSTeams chat

## Exercise 5 

Modify the existing code for subtraction and addition of string and integer using explicit conversion, but this time include at least three strings and three integers. It's up to you if how you will do the code for that but the goal is to get the value of it.

Paste your results to our MSTeams chat

In [7]:
float(9)  # means converting integer 6 to a float value

9.0

In [14]:
int(33.6)  # means converting float 33.6 to a integer value

# When you change from FLOAT to INTEGER it will round-u

33

In [15]:
int(-33.6)

-33

In [2]:
# int to str
num_int = 20
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)  # '10'
num_str

20
20

'20'

In [17]:
float('7.5')  # means converting string '7.5' to a float value
#int, float and then string

7.5

In [18]:
# str to int or float
num_str = '10.6' #or '10'
# print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

num_float 10.6

In [19]:
str(65)  # means converting integer 65 to a string value

'65'

### We can even convert one sequence to another.

In [22]:
set([1,2,3])  # [1,2,3] is list and now converting to a set {}

{1, 2, 3}

In [25]:
tuple({5,6,7})  # {1,2,3} is set and now converting to a tuple ()

(5, 6, 7)

In [27]:
list('Accenture Technology')  # ("Accenture Technology") is string and now converting to a list []

['A',
 'c',
 'c',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 ' ',
 'T',
 'e',
 'c',
 'h',
 'n',
 'o',
 'l',
 'o',
 'g',
 'y']

In [28]:
# str to list
first_name_and_last_name = 'Armielyn Obinguar'
print(first_name_and_last_name)               # 'Milaan'
first_name_and_last_name_to_list = list(first_name_and_last_name)
print(first_name_and_last_name_to_list)

Armielyn Obinguar
['A', 'r', 'm', 'i', 'e', 'l', 'y', 'n', ' ', 'O', 'b', 'i', 'n', 'g', 'u', 'a', 'r']

## Exercise 6 

Convert your personal information, such as your name, location, and role at Accenture, into a string to list. It's up to you how you construct your codes, but the goal is to be able to get the converted string to list.

## Key things to Remember

1. Type Conversion is the conversion of object from one data type to another data type.
2. Implicit Type Conversion is automatically performed by the Python interpreter.
3. Python avoids the loss of data in Implicit Type Conversion.
4. Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
5. In Type Casting, loss of data may occur as we enforce the object to a specific data type.

## Comparison Operators

In [9]:
1<2

True

In [11]:
1==1  # == means equal

True

In [4]:
1!=2 #they are not the same value

True

In [12]:
'string'=='string'

True

In [42]:
'bell'=='boy'

False

In [6]:
(1==2)and(2==2)   # should have the same values

False

In [62]:
(1==2) or (2==2) #choices

True

In [45]:
(1==1) and not (1==2)

True

## Control Flow of Python

If Statement

In [46]:
if True:
    print('yes')  #indentation is very important!

yes

In [15]:
if False:
    print('no')   #indentation is very important!

In [9]:
if (1==2): # they are not equal 
    print('true')
elif (2!=2): # they are not the same value 
    print ('yes')
else:
    print('hi')

hi

In [56]:
if (1==3): #they are not equal 
    print('true')
elif (2!=3): # true 
    print('yes')

yes

In [19]:
if (4==3):
    print('true')
elif (6==3):
    print('yes')
else:
    print('day 2 training')

day 2 training

In [10]:
6==6

True

In [13]:
6!=6

False

## Exercise 8

Use the comparison operators to construct an if statement. It's up to you if you like to put elif, else. 

Paste your results on MSteams chat

### for loops

In [63]:
seq=[10,202,30,40,50]

In [64]:
for item in seq:
    print('hi')

hi
hi
hi
hi
hi

In [65]:
for num in seq:
    print(num)

10
202
30
40
50

In [66]:
for num in seq:
    print(num**2)   # ** is an exponent

100
40804
900
1600
2500

In [67]:
for num in seq:
    print(num**4)

10000
1664966416
810000
2560000
6250000

### Exercise 

Think of a sequence that consists of 8 numbers and convert these numbers into any word you think of, then convert them again into numbers that can be multiplied 6 times by itself. 

Paste your answers on our Msteams chat

## While loops

In [73]:
i=1
while i<10:
    print('i is currently {}'.format(i))
    i=i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4
i is currently 5
i is currently 6
i is currently 7
i is currently 8
i is currently 9

In [20]:
#list  comprehension 

x=[1,2,3,4]
out =[]
for num in x:
    out.append(num**3)
out

[1, 8, 27, 64]

## Exercise 10

Construct a list comprehension where there are at least 10 numbers and make sure that the python scripts can also multiply the lists by themselves three times.

In [80]:
x=[10,20,30,40]
[num**2 for num in x]
#100,400,900,1600

[100, 400, 900, 1600]

# Bolean Literals

A Boolean literal can have any of the two values: True or False.

In [15]:
# Example:

#REMEMBER  True == 1   False == 0

x = (1 == True) # 1 == 1
y = (1 == False) # 1 == 0 not equal 
a = True + 6   # 1 + 6
b = False + 90    # 0 + 90

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 7
b: 90

In [21]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [22]:
x = 200
print(isinstance(x, int)) # verify whether the data type is true or false

True

## Boolean strings
Sometimes functions return a boolean value. If you define a string (text) you can call several methods on it, all which return a boolean value.

In [17]:
s = "Hello World" 
#s.isalnum()
# s.isalpha()
#s.isdigit()
#s.istitle()
#s.isupper()
#s.islower()
#s.isspace()
#s.endswith("d")
#s.startswith("H")

In [18]:
s.isalnum() # hello world is not a number

False

In [19]:
s.isalpha()

False

In [20]:
s.isdigit()

False

In [21]:
s.istitle()

True

In [22]:
s.isupper()

False

In [23]:
s.islower()

False

In [25]:
s.isspace()

False

In [26]:
s.endswith("d")

True

In [27]:
s.startswith("H")

True

In [70]:
# Is three greater than two?
print(3 > 2)
3 > 2 

# Is the number of characters in the string "Hello" equal to one?
print(len("Hello") == 1)

# Is 5 equal to 3 + 2?
print(5 == 3 + 2)
5 == 3 + 2 

# Is four greater than or equal to nine?
print(2 + 2 >= 9)
2 + 2 >= 9 

# Is seven not equal to twelve?
print(7 != 12)
7 != 12

True
False
True
False
True

True

In [72]:
my_number = 24 
if my_number % 2 == 0: 
    print(my_number, "is even.")
else:
    print(my_number, "is odd.")
    
    # if and else statements

12 is even.

In [32]:
money_available_dollars = 3
time_avaialble_minutes = 180

if money_available_dollars > 10 and time_available_minutes > 120:
    print("Go out with friends")
else:
    print("Stay home")

Stay home

## Exercise 

Create your own if and else statements on whether you buy the specific product you'll see in the shop. It's up to you what product it is, but it prints out the choice of whether you will buy it or not.

In [34]:
noise_level = 2
heat_output_percent = 98

if noise_level > 4 or heat_output_percent < 95:
    print("Call technician")
else:
    print("Normal operation")

Normal operation

In [81]:
s1 = "Hello"
s2 = "HELLO"
print(s1 == s2)
print(s1.lower() == s2.lower()) # any guess?
print(s1.upper() == s2.upper())
print(s1.isalnum() == s2.isalnum())
print(s1.isalpha() == s2.isalpha())

False
True
True
True
True

In [82]:
# Boolean Example 2

a = True
b = False
print((a+b),bool(a+b))
# true is 1 and false is 0

1 True

### Why do you think the output of the Boolean example 2 is 1? 

Type your answer on the MSteams chat

### Numeric Literals

In [32]:
c = 23 # Integer Literal
d = 0o257 # Octal Literal
e = 23.657787 # Floating Point Literal
f = 23+5j # Complex Literal
g = 0x18d # Hexadecimal Literal

print("Value of c is ",c)
print("Value of d is ",d)
print("Value of e is ",e)
print("Value of f is ",f.real,f.imag)
print("Value of g is ",g)

Value of c is  23
Value of d is  175
Value of e is  23.657787
Value of f is  23.0 5.0
Value of g is  397

### These are the Literals that are used to define values in digits or Numbers. Some of the Numeric Literals in Python are Int, Float, Complex, Octal, Hexadecimal

## Special Literals 

Python contains one special literal i.e., None. We use it to specify to that field that is not created.

In [30]:
# Example:

juice = "Available"
soup = None # none is a special literals 
def menu(x):
    if x == juice:
        print(juice)
    else:
        print(soup)
menu(juice)
menu(soup)

Available
None

## Literal Collections

In [33]:
#There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

In [34]:
# Example:

fruits1 = ("Banana", "Apple", "Strawberry")             # tuple ()
fruits2 = ["Banana", "Apple", "Strawberry"]             # list []
fruits3 = {"Banana", "Apple", "Strawberry"}             # set {}
fruits4 = {"1":"Banana", "2":"Apple", "3":"Strawberry"} # dictionary {"Key":"Value"} #door 

print(fruits1)
print(fruits2)
print(fruits3)
print(fruits4)

('Banana', 'Apple', 'Strawberry')
['Banana', 'Apple', 'Strawberry']
{'Apple', 'Strawberry', 'Banana'}
{'1': 'Banana', '2': 'Apple', '3': 'Strawberry'}

In [35]:
# Example:

fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'u', 'i', 'e', 'o'}