# Day 1 Python Training

In [16]:
print("Hello, World!")

Hello, World!

In [1]:
## Answer 

print ("Welcome to", end = ' ')  

print ("Accenture Data Bootcamp ", end = '') 

print ("Data Bootcamp ", end = '!')

Welcome to Accenture Data Bootcamp Data Bootcamp !

## Exercise 

" Welcome to our Day 1 Python Training series of Data Bootcamp!"

What are your expectations here in our Python Training series?

What are the things that you are excited about today?Â

I am feeling nervous and excited with today's session !

In [2]:
print ("Hello World!")
print (9 * "\n")
print ("Hello World!")

Hello World!










Hello World!

In [3]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug\nSep\nOct\nNov\nDec")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [4]:
print ("Hello\tWorld!") # \t is equal to 4 spaces

Hello	World!

In [8]:
name="Armielyn Obinguar"
print("Hello my name is {}".format (name))

Hello my name is Armielyn Obinguar

In [5]:
print("Hello my new name is {0} and my age is {0}".format("Armielyn"))

Hello my new name is Armielyn and my age is Armielyn

In [16]:
country = "Philippines"
print("Hi my name is {} and my country is {}".format(name,country))

Hi my name is Armielyn Obinguar and my country is Philippines

In [12]:
age = '16'
print ("Hi my name is {} and my age is {}".format(name,age))

Hi my name is Armielyn Obinguar and my age is 16

In [17]:
print ("""
Routine:
\t- Eat
\t- Study
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Study
	- Sleep
	- Repeat

## Exercise 

* Create a python scripts that includes your name and your role here in Accenture

## PRINT END COMMAND

In [1]:
print ("Welcome to", end = ' ') 
print ("Python", end = '!')

Welcome to Python!

In [19]:
print("Hello " * 6)

Hello Hello Hello Hello Hello Hello

In [18]:
print("Python " , end = '@') # ends the output with '@'.  # !  # ''

Python @

In [20]:
print ('_M'*9)

_M_M_M_M_M_M_M_M_M

## Python Variables and Constants

In [7]:
#Example 1: Declaring and assigning value to a variable

In [8]:
number = 90
number = 9.1
number

9.1

In [10]:
website = "Accenture.com"  # `website` is my variable and `github.com` is an argument
print(website)

Accenture.com

In [11]:
print('Hello',',', 'World','!') # it can take multiple arguments, 4 arguments have been passed

Hello , World !

In [22]:
first_name = 'Armielyn'
last_name = 'Obinguar'
country = 'Philippines'
city = 'Manila'
age = 21
is_married = False
skills = ['Python', 'Matlab', 'JS', 'C', 'C++']
person_info = {
   'firstname':'Armielyn',
   'lastname':'Obinguar',
   'country':'Philippines',
   'city':'Manila'
    }

In [23]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Armielyn
First name length: 8
Last name:  Obinguar
Last name length:  8
Country:  Philippines
City:  Manila
Age:  21
Married:  False
Skills:  ['Python', 'Matlab', 'JS', 'C', 'C++']
Person information:  {'firstname': 'Armielyn', 'lastname': 'Obinguar', 'country': 'Philippines', 'city': 'Manila'}


## Exercise 1 (25 pts) 

Create your own skills & certification information sheet using Python 
* You must have an input for your first name, last name and middle initial (5 points)
* You must also include your role in Accenture (5 points)
* You must also have an input for your existing skills and certification (5 points)
* You must also input the years of experience for each of the skills you mentioned (10 points)


Paste the screenshot of your results on our MSteams chat

In [17]:
# Set your variables to First_name, Last_name, Accenture_role, Skills, Person_info

In [25]:
first_name = 'Armielyn'
last_name = 'Obinguar'
middle_initial = 'Carabot'
role_accenture = 'Application Development Senior Analyst'
skills = ['Python', 'Matlab', 'JS', 'C', 'C++']
years_of_experience = ['3 years', '1 year', '1 year', '1 year', '1 year']
certification = ['Certified Data Scientist', 'Certified Machine Learning Engineer']
person_info = {
   'firstname':'Armielyn',
   'lastname':'Obinguar',
    'middleinitial': 'Carabot'
    }

In [26]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name legth: ', len(last_name))
print('Middle initial: ', middle_initial)
print('Middle initial length: ', len(middle_initial))
print('Skills: ', skills)
print('Years of Experience: ', years_of_experience)
print('Certification: ', certification)
print('Person information: ', person_info)

First name: Armielyn
First name length: 8
Last name:  Obinguar
Last name legth:  8
Middle initial:  Carabot
Middle initial length:  7
Skills:  ['Python', 'Matlab', 'JS', 'C', 'C++']
Years of Experience:  ['3 years', '1 year', '1 year', '1 year', '1 year']
Certification:  ['Certified Data Scientist', 'Certified Machine Learning Engineer']
Person information:  {'firstname': 'Armielyn', 'lastname': 'Obinguar', 'middleinitial': 'Carabot'}

## Exercise 3 

Create your own likes & favorites information sheet using Python

* You must have an input for your first name, last name and middle initial (5 points)
* You must have an input for your favorite movie, favorite singer, favorite genre, favorite food (10 points)
* You must also include your most likes  such as TV shows, TV channels, ,TV actor (5 points)
* You must also have an input on  how long have you been watching the mentioned TV channels (5 points)

Paste the screenshot of your results on our MSteams chat

In [1]:
first_name = 'Armielyn'
last_name = 'Obinguar'
middle_initial = 'Carabot'
favorite_movie = 'Titanic'
favorite_genre= 'Romantic Comedy'
favorite_food = 'Adobo'
favorite_tv_shows = ['Big Bang Theory', 'How I Met Your Mother']
favorite_tv_channels = ['GMA7', 'ABS-CBN']
favorite_tv_actor = 'Tom Cruise'
years_of_watch_channels = ['8 years', '15 years']
person_info = {
   'firstname':'Armielyn',
   'lastname':'Obinguar',
    'middleinitial': 'Carabot'
    }

In [2]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Middle initial: ', middle_initial)
print('Middle initial length: ', len(middle_initial))
print('Favorite movie: ', favorite_movie)
print('Favorite genre: ', favorite_genre)
print('Favorite food: ', favorite_food)
print('Favorite TV shows: ', favorite_tv_shows)
print('Favorite TV channels: ', favorite_tv_channels)
print('Favorite TV actor: ', favorite_tv_actor)
print('Years of Watch Channels: ', years_of_watch_channels)
print('Person information: ', person_info)

First name: Armielyn
First name length: 8
Last name:  Obinguar
Last name length:  8
Middle initial:  Carabot
Middle initial length:  7
Favorite movie:  Titanic
Favorite genre:  Romantic Comedy
Favorite food:  Adobo
Favorite TV shows:  ['Big Bang Theory', 'How I Met Your Mother']
Favorite TV channels:  ['GMA7', 'ABS-CBN']
Favorite TV actor:  Tom Cruise
Years of Watch Channels:  ['8 years', '15 years']
Person information:  {'firstname': 'Armielyn', 'lastname': 'Obinguar', 'middleinitial': 'Carabot'}

## Example 2

In [26]:
a, b, c = 6, 9.3, "Hi, Accenture Technology People!"

print (a,b,c)
print (a)
print (c)
a,b,c

6 9.3 Hi, Accenture Technology People!
6
Hi, Accenture Technology People!

(6, 9.3, 'Hi, Accenture Technology People!')

In [29]:
a = 1; b = 2; c = 3
print(a,b,c)  # outout: 1 2 3
a,b,c         # outout: 1 2 3

1 2 3

(1, 2, 3)

In [31]:
first_name, last_name, middle_initial = 'Armielyn', 'Obinguar', 'Carabot'

print(first_name, last_name, middle_initial)
print('First name:', first_name)
print('Last name: ', last_name)
print('Skills: ', skills)
print('Certification: ',certification)

Armielyn Obinguar Carabot
First name: Armielyn
Last name:  Obinguar
Skills:  ['Python', 'Matlab', 'JS', 'C', 'C++']
Certification:  ['Certified Data Scientist', 'Certified Machine Learning Engineer']

In [32]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

In [28]:
p = q = r = 300   # Assigning value together
print(p, q, r)  # Printing value together
p, q, r

300 300 300

(300, 300, 300)

## Example 3: Changing the value of a variable

In [30]:
website = "accenture.com"
print(website)

# assigning a new variable to website
website = "python.com"

print(website)

accenture.com
python.com

In [13]:
n=300
print(n)
n

300

300

In [36]:
m=n
print(n)

m = 1000   # assigning a new value to n
print(m)

300
1000

In [1]:
# Declare & Redeclare variables
m = "Python is Fun"
print(m)
m = 10
print (m)

Python is Fun
10

## Constants

In [38]:
name = "Axel"
Age = 54
has_W2 = True
print(name, Age, has_W2) #format.

Axel 54 True

In [14]:
filed_2001 = False    # cannot start name of a variable with a number.

In [33]:
year_filled = '2022'
print(year_filled)
year_filled

2022

'2022'

## Exercise 2

In [35]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

## Answer

In [46]:
print ("Welcome to", end = ' ') 
print ("Accenture ", end = '')
print ("Data Bootcamp ", end = '!')

Welcome to Accenture Data Bootcamp !