## Day 1 Docstrings in Python

In [12]:
def double(num):
    """Welcome to Data Bootcamp Training"""
    return 3*num
print(double.__doc__)

Welcome to Data Bootcamp Training

In [ ]:
# Constant 
PI = 3.14

# Variables
year_of_expiration = 2

## Python Data Types

In [30]:
# variable
a = "Accenture"
print(a, "is of type", type(a))
print(a, "is a string?", isinstance("Accenture",str))

a = 3.0
print(a, "is of type", type(a))
print(a, "is float number?", isinstance(3.0,float))

Accenture is of type <class 'str'>
Accenture is a string? True
3.0 is of type <class 'float'>
3.0 is float number? True

In [81]:
d = {1: 'Apple', 2: 'Cat', 3: 'Food'}  # 'Apple' is element and 1 is the key of element.
print(d, type(d))

d[2]

{1: 'Apple', 2: 'Cat', 3: 'Food'} <class 'dict'>

'Cat'

In [3]:
d = {1:'value', 2:'key'} # d is my variable, 'value' and 'key' are the element and 1 and 2 are the key.
type(d)
d[2]

'key'

In [89]:
d = {1:'value','key':2} # '1' is the key to access 'value' and 'key' is the key to access '2'
print(type(d))


print("d[1] = ", d[1]); # try to find the element from key.
d[1]
print("d['key'] = ", d['key']);  # try to find

<class 'dict'>
d[1] =  value
d['key'] =  2

In [90]:
print(type(zip([1,2],[3,4])))  
#keywords & dictionary 
#keyword = type, zip

<class 'zip'>

In [86]:
type(d)

dict

In [ ]:
#i+2j
#complex

In [ ]:
#3.0
#float

In [ ]:
#50
#integer

In [ ]:
#accenture
#string

In [ ]:
#["One", "Two", "Three"]
#list

## Exercise

In [4]:
#Make your own Python scripts to determine which class variable the following belongs to.

a = 3.0 
b = 75 
c = "Dog" 
d = "_Data" 
a = 3+2j  # '1' is real part and '2j' is imaginary part

In [ ]:
#Make your own Python scripts to determine which class variable the following belongs to.

a = ["Dog", "Cat", "Snake"]
b = [2, 3, 4 ,5]
c = "Data Bootcamp"

In [17]:
a = 2
print(a, "is of type", type(a))
print(a, "is integer number?", isinstance(5,int))

a = 3.0
print(a, "is of type", type(a))
print(a, "is float number?", isinstance(2.0,float))

a = 1+2j  # '1' is real part and '2j' is imaginary part
print(a, "is of type", type(a))
print(a, "is complex number?", isinstance(1+2j,complex))

2 is of type <class 'int'>
2 is integer number? True
3.0 is of type <class 'float'>
3.0 is float number? True
(1+2j) is of type <class 'complex'>
(1+2j) is complex number? True

In [3]:
a = 1234567890123456789
print (a)

b = 0.1234567890123456789  # total of only 17 numbers after decimal can be printed.
print (b)

c = 1+2j
print (c)

1234567890123456789
0.12345678901234568
(1+2j)

## Python List

In [31]:
x = [6, 99, 77, 3.0]
print(x, "is of type", type(x))

[6, 99, 77, 3.0] is of type <class 'list'>

In [6]:
x = [7, 15, 2.0, 'Data Bootcamp']
print(x, "is of type", type(x))

[7, 15, 2021, 'Data Bootcamp'] is of type <class 'list'>

In [33]:
[1,2,3]
print(1,2,3)
[1,2,3]

1 2 3

[1, 2, 3]

In [36]:
#List can comprise of different data types
L=['hi',0,1,(9,8),('you','me')]
print(L)

['hi', 0, 1, (9, 8), ('you', 'me')]

In [3]:
type(L)

list

In [37]:
my_list1=['a','b','c','d']
my_list1
print(my_list1)

['a', 'b', 'c', 'd']

In [9]:
a = [5, 10, 15, 20, 25, 30, 35, 40]  # Total elemnets is 8
#   [0   1   2   3   4   5   6   7]  ⬅ Index forward
#   [-8 -7  -6  -5  -4  -3  -2  -1]  ➡ Index backward

# index '0' is element '1' = 5,
# index '1' is element '2' = 10,
# index '2' is element '3' = 15,
# .
# .
# .
# index '7' is element '8' = 40,

a[1] # To access the elements in the list
    
# a[3] = 20
print("a[6] = ", a[6])

# a[0:4] = [5, 10, 15, 20]
print("a[1:6] = ", a[1:6])  # [0:3] means elements from 0 uptil 2 index (not include last element)
                            # [0:3] means from index 0 to 3 - 1 
                            # [0:3] means from index 0 to 2
    
# a[5:] = [30, 35, 40]  # [5:] means all the elements from 5 till end
print("a[7:] = ", a[7:])

a[6] =  35
a[1:6] =  [10, 15, 20, 25, 30]
a[7:] =  [40]

In [ ]:
a = [5, 10, 15, 20, 25, 30, 35, 40]  # Total elemnets is 8
#   [0   1   2   3   4   5   6   7]  ⬅ Index forward
#   [-8 -7  -6  -5  -4  -3  -2  -1]  ➡ Index backward

In [66]:
a[2:-3]

#a = [5, 10, 15, 20, 25, 30, 35, 40]  # Total elemnets is 8
#   [0   1   2   3   4   5   6   7]  ⬅ Index forward
#   [-8 -7  -6  -5  -4  -3  -2  -1]  ➡ Index backward

[15, 20, 25]

In [21]:
s = 'Hello world!' # total 12 elements. Index start from '0' to '11'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world' # index '6' to '11' means element from 6 to 10
print("s[6:11] = ", s[6:11])

s[4] =  o
s[6:11] =  world

In [22]:
# s[6] = 'o'
print("s[3:-3] = ", s[3:-3])

s[3:-3] =  lo wor

In [73]:
a = "apple"

a[0]='o'

# Simiar to TUPLE, STRING is immutable

TypeError: 'str' object does not support item assignment

In [57]:
a[4:-3]

[25]

In [11]:
a[1:-1]

[10, 15, 20, 25, 30, 35]

In [38]:
a = [11, 16, 21, 26, 31, 36, 41, 46]  # Total elemnets is 8

In [58]:
a[1:-1]

[10, 15, 20, 25, 30, 35]

In [59]:
a[1:-4]

[10, 15, 20]

In [60]:
a[1:-3]

[10, 15, 20, 25]

In [61]:
a[1:-6]

[10]

In [62]:
a[3]

20

In [63]:
a[-1]

40

In [64]:
a[-6]

15

In [65]:
a[1:-2]

[10, 15, 20, 25, 30]

In [30]:
# Change the element of the List
a = [1, 2, 3]
#   [0  1  2] ➡ Index forward

a[2] = 4  # Change my third element from '3' to '4' # [2] is the index number
print(a)

[1, 2, 4]

## Python Tuple

In [31]:
# Tuple 't' have 3 elements
t = (6,'program', 1+3j) 
#   (0        1      2) ➡ Index forward

# index '0' is element '1'= 6 
# index '1' is element '2'= program
# index '2' is elemtnt '3'= 1+3j

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (6, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10  # trying to change element 0 from '6' to '

t[1] =  program
t[0:3] =  (6, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [32]:
list1 =  [9, 'apple', 3 + 6j]  # list
tuple1 = (9, 'apple', 3 + 6j)  # tuple

list1[1] = 'banana'  # List is mutable
print(list1)         # No error
tuple1[1]= 'banana'  # Tuple is immutable
print(tuple1)        # error

[9, 'banana', (3+6j)]

TypeError: 'tuple' object does not support item assignment

## Python Strings

In [33]:
s = '''Apple'''
print(s)
s = """Apple"""
print(s)
s = 'Apple'
print(s)
s = "Apple"
print(s)
s = Apple   # cannot write string with out quotes ('', " ", """ """, ''' ''')
print(s)

Apple
Apple
Apple
Apple

NameError: name 'Apple' is not defined

In [34]:
s = "This is a string"  # s is my variable
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

In [35]:
s = 'Hello world!' # total 12 elements. Index start from '0' to '11'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world' # index '6' to '11' means element from 6 to 10
print("s[6:11] = ", s[6:11])

s[4] =  o
s[6:11] =  world

In [36]:
a = "apple"

a[0]='o'

# Simiar to TUPLE, STRING is immutable

TypeError: 'str' object does not support item assignment

## Python Set {}

In [23]:
a = {7,1,3,6,9}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 3, 6, 7, 9}
<class 'set'>

In [77]:
a = {1,2,2,3,3,3} # we can see total 6 elements 
print(a)
a = [1,2,2,3,3,3]
print(a)

{1, 2, 3}
[1, 2, 2, 3, 3, 3]

In [78]:
a = {1,2,3}  # in Set data type we cannot access the elements because set is unordered collection
a[1]  # Index [1] means element 2
a = [1,2,3]
a[1]  # Index [1] means element 2

TypeError: 'set' object is not subscriptable

In [20]:
b = [12,14,16,18,20,22,24,26,28,30,32,34,36,38]
b[2:8]

[16, 18, 20, 22, 24, 26]